# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Pytest / mypy / coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Env / secrets
.env
.env.*
*.pem
*.key

# Temp
*.tmp
*.bak


# -------------------------
# Your custom upload rules
# -------------------------

# Ignore everything under data
data/**

# But keep catalog and its contents
!data/catalog/
!data/catalog/**
!data/meta/
!data/meta/**

# Exclude large DuckDB warehouse file
data/meta/warehouse.duckdb

# Ignore everything under arichitecture
arichitecture/**


